.root {
    -fx-background-color: #0F0F11; /* Cor de fundo escura */
    -fx-text-fill: white; /* Texto branco */
}
.menu-bar {
    -fx-background-color: #0F0F11; /* Fundo preto */
    -fx-border-color: #0F0F11; /* Borda sutil */
    -fx-border-width: 0 0 2px 0; /* Linha inferior */
}
.region {
    -fx-background-color: #0F0F11
}

.menu {
    -fx-text-fill: white; /* Cor do texto */
    -fx-font-size: 14px;
}

.menu:hover {
    -fx-background-color: #0F0F11; /* Efeito hover */
}

.context-menu {
    -fx-background-color: #0F0F11; 
    -fx-border-color: #0F0F11; 
}

.menu-item {
    -fx-text-fill: white; /* Cor do texto */
    -fx-background-color: transparent; /* Sem cor padrão */
}

.menu-item:hover {
    -fx-background-color: #0F0F11; /* Efeito hover */
    -fx-text-fill: cyan; /* Cor diferente ao passar o mouse */
}
.tool-bar {
    -fx-background-color: #0F0F11; /* Muda a cor para azul claro */
}
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}
.pane {
    -fx-border-color: #0F0F11;
    -fx-border-width: 2px;
}
.pane, .vbox, .hbox {
    -fx-background-color: #0F0F11; /* Fundo preto */
    -fx-border-color: #0F0F11;
    -fx-border-width: 2px;
}
.border-pane {
    -fx-background-color: #0F0F11; /* Fundo preto */
}
/* Barra do meio (SplitPane divider) */
.split-pane-divider {
    -fx-background-color: #0F0F11; /* Muda a cor para vermelho */
}
