/* Estiliza o fundo da tabela */
.table-view {
    -fx-background-color: #0F0F11; /* Fundo escuro */
    -fx-border-color: #0F0F11; /* Cor da borda externa */
    -fx-border-width: 0px;
}

.table-view .column-header {
    -fx-background-color: #0F0F11; /* Muda a cor para azul claro */
}

/* Estiliza as colunas do cabeçalho */
.column-header {
    -fx-background-color: #161619; /* Cinza escuro */
    -fx-border-color: #161619; /* Cinza médio para borda */
    -fx-border-width: 0px 0px 2px 0px;
}

/* Estiliza o texto do cabeçalho */
.column-header .label {
    -fx-text-fill: white; /* Texto branco */
    -fx-font-weight: bold;
}

/* Estiliza as células */
.table-cell {
    -fx-text-fill: white; /* Cor do texto */
    -fx-alignment: center-left;
}

/* Linhas alternadas */
.table-row-cell:odd {
    -fx-background-color: #282828; /* Cor das linhas ímpares */
}

.table-row-cell:even {
    -fx-background-color: #242424; /* Cor das linhas pares */
}

/* Quando o mouse passa por cima */
.table-row-cell:hover {
    -fx-background-color: #404040; /* Cor ao passar o mouse */
}

/* Linha selecionada */
.table-row-cell:selected {
    -fx-background-color: #606060; /* Cor quando selecionada */
    -fx-text-fill: white;
}
.table-view .table-cell {
    -fx-border-color: transparent;
}
.table-row-cell:empty {
    -fx-background-color: #111111; /* Fundo para linhas vazias */
}